@import "function";
@import "variable";
@import "reset";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $root_color;
  color: white;
  padding: 0 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  display: block;
  font-size: 3em;
  margin: 0;
  padding: 16px 0;

  @include above(small) {
    background-color: rgba($root_color, 0.5);
    padding: 16px 24px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    backdrop-filter: blur(24px);
  }
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.rootArbo {
  position: relative;
  width: fit-content;

  @include above(small) {
    margin-top: 80px;
    & > li > span::before {
      display: none;
    }
  }

  ul {
    position: relative;
    margin: 8px 0;
    padding-left: 16px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      display: block;
      height: 100%;
      left: 8px;
      bottom: 0;
      background-color: #272b47;
      transition: background-color 0.3s;

      @include above(small) {
        display: none;
      }
    }
    &:hover:after {
      background-color: white;
    }
  }
  li {
    position: relative;
    padding: 8px;

    @include above(small) {
      display: flex;
      align-items: center;
      margin-left: 128px;

      span {
        position: relative;
        display: block;
        padding: 8px;
        border: solid white 2px;
        white-space: nowrap;
        border-radius: 4px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: $second_color;
          border: solid 4px $root_color;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
        }
        &::before {
          left: -1px;
        }
        &::after {
          right: 7px;
          transform: translate(100%, -50%);
        }
      }
    }
    svg {
      position: absolute;
    }
  }
}

.arbo-wrapper {
  position: relative;
  svg {
    display: none;
    position: absolute;
    z-index: 0;
    @include above(small) {
      display: block;
    }
    path {
      fill: none;
      stroke: $second_color;
      stroke-width: 3;
      stroke-dasharray: 1000;
      stroke-dashoffset: -1000;
      transition: stroke-dashoffset 2s;
    }
  }
}

.anim {
  svg path {
    stroke-dashoffset: 0;
  }
}
